{% extends 'base.html' %}

<!-- Template Usage -->
{% load thumbnail %}

<!-- Page Title -->
{% block title %}{{user.username}}{% endblock %}

<!-- Page Content -->
{% block body %}

<!-- Profile-Card Tailwind Component -->
<!-- component from https://tailwindcomponents.com/component/profile-card -->
<div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3 bg-blue-500">
    <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
    <div class="flex justify-center -mt-8">
        {% thumbnail user.profile.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" class="rounded-full border-solid border-white border-2 -mt-3">
        {% endthumbnail %}
    </div>
    <div class="text-center px-3 pb-6 pt-2">
        <h3 class="text-white text-sm bold font-sans">{{user.username}}</h3>
    </div>
    <div class="flex justify-center pb-3 text-white">
        <div class="text-center mr-3 border-r pr-3">
            <h2>xx{# TODO:Add total Posts #}</h2>
            <span>Posts</span>
        </div>
        <div class="text-center">
            <h2>xx{# TODO:Add total Followers #}</h2>
            <span>Followers</span>
        </div>
    </div>
</div>
<!-- end of component -->

{% endblock %}